* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: lightgray;
    min-height: 100vh;
    margin: 0;
    /* display: grid;
    grid-template-rows: auto auto 1fr auto; */
}

header {
    background-image: url(El\ avila.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #0096e2;
    padding: 10px;
    padding-top: 100px;
}
header h1{
    font-family: 'Overlock SC', sans-serif;
    font-size: 46px;
    color: white;
    text-shadow: 5px 5px 15px black;
    /* max-width: 100%; */
    margin:auto;
    text-align: center;
    /* width: 100%; */
    
}
header p {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 21px;
    text-shadow: 2px 2px 10px black;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    width: 150px;
    margin: 10px auto;
}

main {
    margin: auto;
    background-color: lightgray;
    padding: 25px;
    max-width: 100px;
    width: 100%;
    height: 100%;
}

.primary-nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0%; 
   max-width: 1200px;
   /* border: 1px solid #000; */
   margin: auto;
   display: flex;
   justify-content: start;
}

.primary-nav {
    background-color: white;
    /* border-bottom: 2px solid black; */
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px black;
}
.primary-nav a {
    font-family: sans-serif;
    padding: 15px;
    display: inline-block;
    transition: all 0.3s ease;
}

.primary-nav a:hover {
    background-color: #aaa743;;
    text-decoration: none;
}

.primary-nav li + li {
    border-left: 2px solid #aaa;

}

a{
    color:black;
    text-decoration:none
}

.grid {
    max-width: 400px;
    margin: auto;
    /* border:1px solid green; */
    text-align: center;
}

.boxes {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    box-shadow: 2px 2px 2px black ;
}

.box {
    width: 50%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    padding: 25px;
}

.box img {
    width: 100%;
    height: auto;
}
.box *{
 z-index: 3;
}
.box.bg-img{
    color:white;
    font-family: sans-serif;
    text-shadow: 2px 2px 6px black;
    background-image: url(Arepas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box.bg-red{
    background-color: rgba(225,0,0,0.5);
    
}
.bg-overlay {
    position: relative;
}

.bg-overlay::before {
    content: "";
    background-color: rgba(225,80,80,0.5);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;

}
div {
    /* border:1px solid orange; */
}
/*.first {
    background-image: url(Arepas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-size: cover;
    min-height: 300px;
    border: 100px;
}
.first::before {
    content: "";
    background-color: rgba(225,0,0,0.5);
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    box-shadow: 2px 2px 2px black ;
}
.first *{
    z-index:2;
    color:white;
}
ul {
    display: inline-block;
}

@media screen and (min-width: 800px) { 
    .grid {
        margin-top: 20px;
        gap: 10px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.first {
    width: 400px;
    height: 400px;
}
}


.second {
    background-image: url(Empanadas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-size: cover;
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 2px black;
}

.second::before{
    content:"";
    background-color: rgba(225,0,0,0.5);
    display: block;
    width: 100%;
    height:100%;
    position:absolute;
    box-shadow: 2px 2px 2px black;
}

.third img {
    width: 400px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    position:relative;
    background-size: cover;
    box-shadow: 2px 2px 2px black;
} 
.third::before{
    content:"";
    background-color:rgba(225,0,0,0.5);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 2px 2px 2px black;
}
*/


.text-last {
    text-align: center;
}

.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 9%; */
}


.title img {
    width:100%;
    max-width: 200px;
    display: block;
    margin: auto;
    height: auto;
}

.menu h1 {
    text-align: center;
}
.menu .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.menu .categories h1{
    width: 300px;
}